@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    @apply text-black dark:text-white;
    @apply bg-primary_backgroundLighterColor-50 dark:bg-primary_backgroundDarkerColor-950;
  }
  :root {
    --radius: 0.5rem;
  }
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}
